
@{
    ViewBag.Title = "Index";
}

@model EpiserverPROG17.Models.Pages.StartPage

<!-- Header -->
<a name="about"></a>
<div class="intro-header" style="background: url(@Url.ContentUrl(Model.PageImage)) no-repeat center center">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 @Html.EditAttributes(m => m.Heading)>
                        @(Model.Heading ?? Model.Name)
                    </h1>
                    @Html.PropertyFor(m => m.Description)
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                                <i class="fa fa-twitter fa-fw"></i>
                                <span class="network-name">
                                    @Html.PropertyFor(m => m.TwitterLink)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">
                                    @Html.PropertyFor(m => m.GithubLink)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg">
                                <i class="fa fa-linkedin fa-fw"></i>
                                <span class="network-name">
                                    @Html.PropertyFor(m => m.LinkedinLink)
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
